html{
    font-family: Georgia, 'Times New Roman', Times, serif;
}



body {
  background-image: linear-gradient(to bottom right, red, yellow);
    padding:10% 10% 10% 10%;

}

.container{
    color: rgb(59, 6, 50);
    background-image:linear-gradient(to bottom right,white,lavender);
    margin: 5% 0% 5% 00%;
    padding:5% 10% 15% 10%;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}
.container h1{
    color: darkorchid;
}

.site{

    color: coral;
}

h1{
    text-align: center;
}

.navbar ul{

    background :rgb(112, 52, 168);
    padding:0%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.navbar li{
    color:cornsilk;
    display: inline-block;
    padding-left: 10%;
}

.navbar a{
    text-decoration: none;
    color: cornsilk;
    width: 10px;
    display: block;
    padding: 15px 10px;


}

header p{
    text-align: center;
    color: crimson;
    font-size: 200%;
}

footer{
    font-size: large;
    margin-top: 10%;
    color: darkgoldenrod;
}
.sidebarr{
    color: rgb(143, 31, 27);
    padding-right: 10%;
    flex: 1;
}

.intro{ 

    color:grey;
}
form {
    background-color: #ececec;
    padding: 30px 40px;
  }
  
  .hidden-label {
    position: absolute;
    height: 0;
    width: 0;
    overflow: hidden;
    visibility: hidden;
  }
  
  input,
  select {
    font-family: Tahoma, sans-serif;
    font-size: 100%;
  }
  
  select {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
  }
  
  input[type="email"],
  input[type="password"],
  input[type="text"],
  input[type="number"],
  input[type="tel"],
  select {
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 0 10px;
    height: 40px;
    margin-bottom: 15px;
    border: 1px solid #cdcdcd;
    outline: none;
  }
  
  input[type="email"]:focus,
  input[type="password"]:focus,
  input[type="text"]:focus,
  input[type="number"]:focus,
  input[type="tel"]:focus {
    border: 1px solid #869960;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.13);
  }
  
  input[type="submit"] {
    width: 100%;
    display: block;
    box-sizing: border-box;
    background-color: rgb(112, 52, 168);
    color: #fff;
    padding: 10px 0;
    border: 1px solid rgb(112, 52, 168);
    border-radius: 0px;
    outline: none;
    margin-bottom: 10px;
  }
  
  input[type="submit"]:hover,
  input[type="submit"]:focus {
    border: 1px solid rgb(206, 46, 46);
    background-color:rgb(175, 37, 37);
  }
  
  .checkbox-text {
    font-size: 85%;
    color: #777;
  }
  
  .sidebar {
    width: 34%;
    float: left;
    background-color: #e5e9dc;
    padding: 20px 40px;
    box-sizing: border-box;
    font-size: 85%;
  }

.activities{

    color: hotpink;
    background-image: linear-gradient(rgb(229, 229, 245),rgb(218, 218, 218));
    padding: 10% 10% 10% 10%;
    margin:10% 10% 10% 10% ;
 
}
.kk{
    padding: 10% 10% 0% 10%;
}
.image{
  align-content: center;
  padding-left:0.5%;
 padding-right: 3%;
 margin-right: 10%;
}
.image2{
  padding-left: 20%;
  padding-top: 10%;
  image-resolution: auto;
}



/* End Site Navigation */

.content-area {
  background-color: #fff;
  padding-bottom: 40px;
  padding-top: 40px;
}

@media screen and (max-width: 767px) {
  .content-area {
    padding-top: 20px;
  }
}

.main-area {
  width: 66%;
  float: left;
  padding-right: 40px;
  box-sizing: border-box;
}

.sidebar {
  color: #555;
  font-size: 85%;
}

.sidebar h3 {
  font-size: 138.5%;
  margin-bottom: 7px;
}

.info-box {
  background-color: #efeedb;
  border: 5px solid #e6e5c2;
  padding: 10px 40px 7px 40px;
  margin-bottom: 1em;
}

@media screen and (max-width: 767px) {
  .hide-small {
    display: none;
  }
}

/* Bounce Animation */
@-webkit-keyframes fadeBounce {
  0% {
    opacity: 0;
    transform: translateY(-200%);
  }

  40% {
    transform: translateY(0);
  }

  55% {
    transform: translateY(-6px);
  }

  70% {
    opacity: 1;
    transform: translateY(0);
  }

  85% {
    transform: translateY(-3px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeBounce {
  0% {
    opacity: 0;
    transform: translateY(-200%);
  }

  40% {
    transform: translateY(0);
  }

  55% {
    transform: translateY(-6px);
  }

  70% {
    opacity: 1;
    transform: translateY(0);
  }

  85% {
    transform: translateY(-3px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* End Bounce Animation */

.box-a {
  opacity: 0;
  animation: fadeBounce 1s forwards;
  -webkit-animation: fadeBounce 1s forwards;
  background-color: #fde593;
  padding: 20px 20px 0 20px;
  border: 2px solid black;
  margin-bottom: 30px;
  box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.1);
  border-radius: 0px;
}

.boxes :nth-child(2) .box-a {
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}

.boxes :nth-child(3) .box-a {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}

.boxes :nth-child(4) .box-a {
  animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
}

.box-b {
  text-align: center;
  background-color: rgb(145, 224, 229);
  border-top: black;
  width: 200px;
  height: 100px;
  line-height: 200px;
  margin-bottom: 40px;
  border-radius: 0%;
  transition: all 1s ease-out;
}

.box-b:hover {
  transform: rotate(360deg);
}

/* Star Animation */
@-webkit-keyframes slideSpin {
  50% {
    transform: translateX(150%) scale(0.5);
  }

  75% {
    transform: translateX(150%) rotate(180deg) scale(0.5);
  }

  100% {
    transform: translateX(300%) rotate(180deg);
  }
}

@keyframes slideSpin {
  50% {
    transform: translateX(150%) scale(0.5);
  }

  75% {
    transform: translateX(150%) rotate(180deg) scale(0.5);
  }

  100% {
    transform: translateX(300%) rotate(180deg);
  }
}

.star {
  -webkit-animation: slideSpin 2s infinite alternate forwards;
  animation: slideSpin 2s infinite alternate forwards;
  width: 25%;
  height: auto;
}
.main-area{
  flex: auto;
}

.position{
  text-align: center;
  color: rgb(2, 165, 89);
}
.navbar li:hover{
 background-color:rgb(255, 255, 255);
 opacity: 2%;
 align-items: auto;
 
}

